# requirements
# 버전은 본인이 사용하는 버전 맞춰서 넣어주세요
# 예시: scikit-learn==1.3.0
# 특정 버전으로 완전히 고정 (환경 통일에 가장 권장됨)
# PySide6==6.5.2
# scikit-learn==1.3.0
#
# 최소 버전 지정 (해당 버전 이상이면 설치)
# numpy>=1.24.0
#
# 하위 호환되는 패치 버전만 허용 (예: 2.0.1 ~ 2.0.x는 설치, 2.1.0은 설치 안 함)
# pandas~=2.0.1
#=============================================================================
# Data Processing
pandas
numpy

# Graph Validation
networkx

# Web GUI & Visualization
streamlit
streamlit-folium
folium

# Testing
pytest
